/* Screen breakpoints */
/* Screen dimensions for fluid type function */
/* Colors */
/* Layout dimensions */
/* Hamburger dimensions */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700&subset=latin-ext");
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

*, *:after, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

html {
  opacity: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }
  html {
    font-size: 8px; }
    @media screen and (min-width: 1200px) {
      html {
        font-size: calc(8px + 4 * ((100vw - 1200px / strip-unit($max-vw - $min-vw)))); } }
    @media screen and (min-width: 320px) {
      html {
        font-size: 12px; } }

body {
  padding: 0;
  margin: 0;
  background-color: #fdfdfd;
  color: #0d1113;
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.0425em; }

a, a:active, a:focus, a:hover {
  text-decoration: none; }

ul, ol {
  list-style-type: none; }

.golded {
  background: #f3bb1e;
  color: #0d1113; }

.decorated {
  background: #0d1113;
  color: #fdfdfd; }

.wrapper {
  position: relative;
  right: 0;
  top: 0;
  bottom: 0; }
  @media (min-width: 320px) {
    .wrapper {
      left: 0; } }
  @media (min-width: 768px) {
    .wrapper {
      left: 0; } }
  @media (min-width: 992px) {
    .wrapper {
      width: 94%;
      left: 6%; } }
  @media (min-width: 1200px) {
    .wrapper {
      width: 94%;
      left: 6%; } }

.side-menu, .side-menu_toggle {
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  display: block;
  z-index: 999; }

.side-menu_toggle {
  overflow: hidden;
  height: 100%;
  z-index: 999;
  left: -100%;
  transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out; }
  .side-menu_toggle ul {
    position: relative;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    text-align: left; }
    @media (min-width: 320px) {
      .side-menu_toggle ul {
        margin-left: 5em; }
        .side-menu_toggle ul li {
          margin: 1.4em;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 2em; }
          .side-menu_toggle ul li:hover {
            color: #f3bb1e; }
          .side-menu_toggle ul li a {
            position: relative;
            text-decoration: none;
            color: #f3bb1e; }
            .side-menu_toggle ul li a:before {
              content: "";
              position: absolute;
              width: 100%;
              visibility: hidden;
              height: 0.05em;
              background: #f3bb1e;
              left: 0;
              bottom: 0;
              -webkit-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s; }
          .side-menu_toggle ul li:hover {
            color: #f3bb1e; }
            .side-menu_toggle ul li:hover a::before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1); } }
    @media (min-width: 768px) {
      .side-menu_toggle ul {
        margin-left: 5em; }
        .side-menu_toggle ul li {
          margin: 1.4em;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 2em; } }
    @media (min-width: 992px) {
      .side-menu_toggle ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        font-size: 2em; } }

@media (min-width: 320px) {
  .side-menu {
    margin: 1em;
    width: 4em;
    height: 4em;
    border-radius: 50%; } }
@media (min-width: 768px) {
  .side-menu {
    margin: 1em;
    width: 5em;
    height: 5em;
    border-radius: 50%; } }
@media (min-width: 992px) {
  .side-menu {
    margin: 0;
    bottom: 0;
    height: 100%;
    width: 6%;
    border-radius: 0; } }
@media (min-width: 1200px) {
  .side-menu {
    bottom: 0;
    height: 100%;
    width: 6%;
    border-radius: 0; } }
.side-menu .hamburger-btn {
  position: absolute;
  display: inline-block;
  margin: 0;
  width: 2em;
  margin: 0;
  z-index: 999;
  background: transparent;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }
  .side-menu .hamburger-btn:hover {
    cursor: pointer; }
  @media (min-width: 320px) {
    .side-menu .hamburger-btn {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); } }
  @media (min-width: 768px) {
    .side-menu .hamburger-btn {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); } }
  @media (min-width: 992px) {
    .side-menu .hamburger-btn {
      top: 15%;
      left: 50%;
      transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0); } }
  @media (min-width: 1200px) {
    .side-menu .hamburger-btn {
      top: 15%;
      left: 50%;
      transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0); } }
  .side-menu .hamburger-btn span {
    position: relative;
    display: inline-block;
    margin-top: 0.6666666667em;
    margin-bottom: 0.6666666667em;
    width: 1.2em; }
    .side-menu .hamburger-btn span, .side-menu .hamburger-btn span:after, .side-menu .hamburger-btn span:before {
      background-color: #0d1113;
      height: 3px;
      border-radius: 5px; }
    .side-menu .hamburger-btn span:after, .side-menu .hamburger-btn span:before {
      content: "";
      width: 2em;
      left: 0;
      position: absolute; }
    .side-menu .hamburger-btn span:after {
      top: 0.6666666667em;
      transition: transform 0.1s ease-in-out;
      -moz-transition: transform 0.1s ease-in-out;
      -webkit-transition: transform 0.1s ease-in-out;
      -o-transition: transform 0.1s ease-in-out; }
    .side-menu .hamburger-btn span:before {
      top: -0.6666666667em;
      transition: transform 0.1s ease-in-out;
      -moz-transition: transform 0.1s ease-in-out;
      -webkit-transition: transform 0.1s ease-in-out;
      -o-transition: transform 0.1s ease-in-out; }
@media (min-width: 320px) {
  .side-menu .side-menu__footer {
    display: none; } }
@media (min-width: 768px) {
  .side-menu .side-menu__footer {
    display: none; } }
@media (min-width: 992px) {
  .side-menu .side-menu__footer {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0; }
    .side-menu .side-menu__footer .side-menu__footer__copyright {
      font-family: "Open Sans", sans-serif;
      position: relative;
      font-weight: 700;
      text-transform: uppercase;
      transform: rotate(-90deg);
      top: 50%;
      left: -100%;
      width: 300%; } }
@media (min-width: 1200px) {
  .side-menu .side-menu__footer {
    display: block; } }

.side-menu__logo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }
  .side-menu__logo img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); }
    @media (min-width: 320px) {
      .side-menu__logo img {
        display: none; } }
    @media (min-width: 768px) {
      .side-menu__logo img {
        display: none; } }
    @media (min-width: 992px) {
      .side-menu__logo img {
        display: block; } }
    @media (min-width: 1200px) {
      .side-menu__logo img {
        display: block; } }

#introduction {
  position: relative;
  display: block;
  width: 100%;
  background-color: #0d1113;
  min-height: 100vh;
  height: 100%; }
  #introduction .introduction__welcone, #introduction .introduction__side {
    position: relative;
    float: left;
    display: block; }
  #introduction .introduction__welcome {
    min-height: 100vh;
    padding: 18%;
    padding-bottom: 0;
    padding-top: 12%;
    background: url("../img/best-back.jpg") no-repeat fixed center;
    background-size: cover; }
    #introduction .introduction__welcome:before {
      top: 0;
      left: 0;
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0);
      z-index: 0; }
    @media (min-width: 320px) {
      #introduction .introduction__welcome {
        position: absolute;
        height: 100; } }
    @media (min-width: 768px) {
      #introduction .introduction__welcome {
        position: absolute;
        height: 100%; } }
    @media (min-width: 992px) {
      #introduction .introduction__welcome {
        font-size: 1.5em; } }
    #introduction .introduction__welcome p {
      display: block;
      text-align: left;
      color: white;
      font-weight: 300;
      line-height: 1.4em;
      font-family: "Lora", serif; }
      @media (min-width: 320px) {
        #introduction .introduction__welcome p {
          font-size: 1.8em; } }
      @media (min-width: 768px) {
        #introduction .introduction__welcome p {
          font-size: 1.8em; } }
      #introduction .introduction__welcome p .introduction__welcome_b {
        color: #f3bb1e;
        font-weight: 700;
        text-transform: uppercase; }
      #introduction .introduction__welcome p .introduction__welcome_quote {
        text-align: justify;
        font-size: 1.5em;
        color: white; }
    #introduction .introduction__welcome .introduction__logo {
      position: relative; }
      #introduction .introduction__welcome .introduction__logo a img {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); }
        @media (min-width: 320px) {
          #introduction .introduction__welcome .introduction__logo a img {
            height: 80px; } }
        @media (min-width: 768px) {
          #introduction .introduction__welcome .introduction__logo a img {
            height: 100px; } }
        @media (min-width: 992px) {
          #introduction .introduction__welcome .introduction__logo a img {
            height: 120px; } }
        @media (min-width: 1200px) {
          #introduction .introduction__welcome .introduction__logo a img {
            height: 160px; } }
    #introduction .introduction__welcome .introduction__socials {
      position: relative;
      margin: 0.8em 0;
      padding: 0; }
      #introduction .introduction__welcome .introduction__socials a {
        position: relative;
        float: left;
        margin-right: 1em;
        background: #fdfdfd;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        color: #0d1113;
        transition: 120ms all linear; }
        #introduction .introduction__welcome .introduction__socials a i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%); }
        #introduction .introduction__welcome .introduction__socials a:hover {
          background: #f3bb1e;
          color: #fdfdfd;
          transition: 120ms all linear; }
  @media (min-width: 320px) {
    #introduction .introduction__side {
      display: none; } }
  @media (min-width: 768px) {
    #introduction .introduction__side {
      display: none; } }
  #introduction .introduction__side .introduction__side__image {
    background: url("../img/best-back.jpg") no-repeat fixed center;
    background-size: cover; }
  #introduction .introduction__scroll-down {
    position: absolute;
    bottom: 5em;
    left: 50%;
    text-align: center;
    transform: rotate(180deg) translate(50%, 0); }
    @media (min-width: 320px) {
      #introduction .introduction__scroll-down {
        margin-bottom: 2em; } }
    @media (min-width: 992px) {
      #introduction .introduction__scroll-down {
        margin-bottom: 8em; } }
    #introduction .introduction__scroll-down a {
      position: relative;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      border: 0.4em solid #fdfdfd;
      background: #fdfdfd;
      color: #0d1113;
      position: relative;
      display: block;
      font-size: 2em;
      animation: bounce 2s infinite; }
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(0.8em); }
  60% {
    transform: translateY(0.3em); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(0.8em); }
  60% {
    transform: translateY(0.3em); } }
@-ms-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(0.8em); }
  60% {
    transform: translateY(0.3em); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(0.8em); }
  60% {
    transform: translateY(0.3em); } }
      #introduction .introduction__scroll-down a i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); }

#statistics {
  margin-top: 4em;
  display: inline-block;
  background: url("../img/best-back-2.jpg") no-repeat center;
  width: 100%;
  position: relative; }
  #statistics:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8); }
  #statistics .statistics__item {
    margin: 5em 0;
    text-align: center; }
    @media (min-width: 320px) {
      #statistics .statistics__item {
        width: 100%; } }
    @media (min-width: 992px) {
      #statistics .statistics__item {
        float: left; } }
    #statistics .statistics__item h1 {
      font-family: "Lora", serif;
      color: #fdfdfd;
      text-transform: uppercase;
      font-weight: 400;
      padding-top: 0.1em;
      font-size: 24px; }
    #statistics .statistics__item h2 {
      font-family: "Lora", serif;
      text-transform: uppercase;
      color: #fdfdfd;
      font-weight: 400;
      padding: 0.1em;
      font-size: 24px; }
    #statistics .statistics__item p {
      color: #fdfdfd; }
    #statistics .statistics__item .statistics__item__img {
      position: relative;
      display: block;
      width: 10em;
      height: 10em;
      background: center no-repeat;
      background-size: cover;
      left: 50%;
      transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0); }

#about-us .about-us__info {
  margin: 8em 0; }
  #about-us .about-us__info .about-us__info_img {
    height: 300px;
    width: 100%;
    background: center no-repeat;
    background-size: cover; }
  #about-us .about-us__info h1 {
    display: block;
    padding: 1.2em;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    background: #fdfdfd;
    text-align: center;
    font-family: "Lora", serif;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase; }
  #about-us .about-us__info p {
    padding: 0 12px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #666; }

#few-facts .few-facts__item {
  height: 500px; }
  #few-facts .few-facts__item h1 {
    display: block;
    position: relative;
    text-align: left;
    font-family: "Lora", serif;
    font-size: 32px; }
    #few-facts .few-facts__item h1:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 120px;
      bottom: -10px;
      background: #0d1113; }
  #few-facts .few-facts__item p {
    position: relative;
    margin: 20px 0;
    font-size: 18px; }
  #few-facts .few-facts__item .few-facts__item_text {
    padding: 80px;
    background: #f3bb1e; }
  #few-facts .few-facts__item .few-facts__item_img {
    background: center no-repeat;
    background-size: cover;
    padding: 80px;
    color: white; }

.split-header {
  position: relative;
  text-align: center;
  display: block;
  z-index: 20; }
  @media (min-width: 320px) {
    .split-header {
      height: 15em; } }
  @media (min-width: 992px) {
    .split-header {
      height: 20em; } }
  .split-header h1 {
    font-family: "Lora", serif;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    font-weight: 300;
    color: #0d1113;
    line-height: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
    @media (min-width: 992px) {
      .split-header h1 {
        font-size: 36px; } }
    @media (min-width: 1200px) {
      .split-header h1 {
        font-size: 36px; } }

#main-footer {
  padding: 60px 0;
  background: #0d1113;
  color: white; }
  #main-footer h1, #main-footer h2 {
    font-family: "Lora", serif;
    font-size: 16px;
    font-weight: 400; }
  #main-footer h1 {
    font-size: 2em; }
  #main-footer p {
    font-size: 12px;
    color: lightgray; }

.main-footer__info_members {
  padding: 10px 0;
  display: block;
  position: relative; }
  .main-footer__info_members li {
    padding: 20px 20px; }

.main-footer__info {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }

.main-footer__info_address {
  border-left: 0.1em solid #666; }

.main-footer__contact-us {
  left: 50%;
  transform: translate(-50%, 0); }
  .main-footer__contact-us .form-container {
    padding: 30px; }
  .main-footer__contact-us .form-group {
    position: relative;
    padding: 10px 0; }
    .main-footer__contact-us .form-group .form-control {
      background: transparent;
      position: relative;
      border: 0;
      border-radius: 0;
      border-bottom: 0.01em solid #a9afb3;
      box-shadow: none;
      padding: 4px 0;
      font-size: 1.3em;
      display: block;
      height: 2em; }
    .main-footer__contact-us .form-group label {
      font-family: "Lora", serif;
      color: #f3bb1e;
      position: absolute;
      font-weight: 400;
      pointer-events: none;
      left: 2px;
      transform: translate3d(0, 0px, 0);
      font-size: 1.3em;
      transition: all 0.2s ease-in-out; }
    .main-footer__contact-us .form-group input:focus {
      background: transparent; }
    .main-footer__contact-us .form-group input[data-empty="false"] + label, .main-footer__contact-us .form-group input:valid + label, .main-footer__contact-us .form-group input:focus + label {
      transform: translate3d(0, -15px, 0);
      font-size: 14px;
      font-weight: 700;
      color: #f3bb1e;
      transition: all 0.2s ease-in-out; }

.main-footer__copyright {
  position: relative;
  text-align: center;
  color: gray;
  font-family: "Lora", serif; }

.side-menu_toggle_active {
  background: #0d1113;
  background-color: rgba(13, 17, 19, 0.99);
  transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out; }
  @media (min-width: 320px) {
    .side-menu_toggle_active {
      left: 0;
      top: 0; } }
  @media (min-width: 768px) {
    .side-menu_toggle_active {
      left: 0;
      top: 0; } }

.hamburger-btn_closed span {
  height: 0 !important; }
  .hamburger-btn_closed span:after {
    transform: rotate(135deg);
    top: 50% !important;
    transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out; }
  .hamburger-btn_closed span:before {
    transform: rotate(45deg);
    top: -50% !important;
    transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out; }

.body-active {
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
