#about-us
	.about-us__info
		margin: 8em 0
		.about-us__info_img
			height: 300px
			width: 100%
			background: center no-repeat
			background-size: cover
		h1
			display: block
			padding: 1.2em
			position: relative
			+center-horizontal
			background: $shadywhite
			text-align: center
			font-family: "Lora", serif
			font-size: 48px
			font-weight: 400
			text-transform: uppercase
		p
			padding: 0 12px
			position: relative
			left: 50%
			transform: translate(-50%, 0)
			font-size: 18px
			font-weight: 300
			text-align: center
			color: $gray
