.bottom-footer
	position: relative
	background-color: $darkgray
	color: white
	bottom: 0
	+col12
	.bottom-footer__contact
		position: relative
		width: 100%
		.bottom-footer__contact__members
			+col12
			+md
				display: inline-block
				padding: $side-menu-w
			li
				position: relative
				text-align: center
				+md
					+col3
					float: left
				.bottom-footer__contact__member
					position: relative
					padding: 2em
					+supersm
						border-bottom: 1px solid $darkergray
						min-height: 15em
					+md
						border: 0
					.contact__icon
						position: relative
						border-radius: 50%
						margin-bottom: 1em
						background-size: cover
						+center-horizontal
						+supersm
							width: 10em
							height: 10em
						+md
							width: 14em
							height: 14em
					h1
						color: $gold
						font-weight: 700
					h2
						font-weight: 500
						color: $shadywhite
					+supersm
						+col8
						margin-left: auto
						margin-right: auto
						h1
							font-size: 1.4em
						h2
							font-size: 1.2em
					+md
						+col10
						margin-left: auto
						margin-right: auto
						h1
							font-size: 1.4em
						h2
							padding: 0.2em
							font-size: 1.2em
		.bottom-footer__contact__social-media
			text-align: center
			display: inline-block
			color: white
			+col12
			li
				position: relative
				height: 10em
				display: block
				float: left
				a
					position: relative
			+supersm
				+col12
				li
					+col4
					a
						+center-vertical
						padding: 0.8em
						font-size: 1.6em
						background-color: $gold
						border-radius: 5px
				+md
					+col2
					margin-left: auto
					margin-right: auto
					position: absolute
					+center-horizontal
					bottom: 0
					li
						+col4
						a
							padding: 0.8em
							font-size: 1.6em
							background-color: $darkergray
							border-radius: 5px
	.bottom-footer__location
		position: relative
		left: 0
		top: 0
		right: 0
		padding: 2em
		+supersm
			+col12
		+md
			+col12
			margin-left: auto
			margin-right: auto
		h1
			margin-left: auto
			margin-right: auto
			display: block
			+col4
			font-family: 'Pacifico', serif
			color: $gold
			padding: 0.4em
			text-align: center
			background: $darkergray
			border-radius: 5px
			font-weight: 300
		.bottom-footer__back-to-top
			+col1
			position: absolute
			right: 0
			margin: 4em
			background: $shadywhite
			width: 4em
			height: 4em
			animation: bounce 2s
			border-radius: 50%
			a
				font-size: 2em
				color: $darkgray
				position: absolute
				+center
	.bottom-footer__credits
		display: block
		padding: 2em
		font-weight: 200
		color: $lightgray
		font-size: 1.2em
		text-align: center
