#introduction
	position: relative
	display: block
	width: 100%
	background-color: $darkgray
	min-height: 100vh
	//overflow: hidden
	height: 100%
	.introduction__welcone, .introduction__side
		position: relative
		float: left
		display: block
	.introduction__welcome
		min-height: 100vh
		padding: $side-menu-w * 3
		padding-bottom: 0
		padding-top: $side-menu-w * 2
		background: url('../img/best-back.jpg') no-repeat fixed center
		background-size: cover
		+supersm
			+col12
			position: absolute
			height: 100
		+sm
			+col12
			position: absolute
			height: 100%
		+md
			font-size: 1.5em
		p
			display: block
			text-align: left
			color: white
			font-weight: 300
			line-height: 1.4em
			font-family: 'Lora', serif
			+supersm
				font-size: 1.8em
			+sm
				font-size: 1.8em
			.introduction__welcome_b
				color: $gold
				font-weight: 700
				text-transform: uppercase
			.introduction__welcome_quote
				text-align: justify
				font-size: 1.5em
				color: white

		.introduction__logo
			+col12
			position: relative
			a
				img
					position: relative
					+center
					+supersm
						height: 80px
					+sm
						height: 100px
					+md
						height: 120px
					+lg
						height: 160px
		.introduction__socials
			position: relative
			margin: 0.8em 0
			padding: 0
			a
				position: relative
				float: left
				margin-right: 1em
				background: $shadywhite
				border-radius: 50%
				width: 40px
				height: 40px
				color: $darkgray
				i
					position: absolute
					+center
				transition: 120ms all linear
				&:hover
					background: $gold
					color: $shadywhite
					transition: 120ms all linear
				&:first-child
	.introduction__side
		+supersm
			display: none
		+sm
			display: none
		.introduction__side__image
			background: url('../img/best-back.jpg') no-repeat fixed center
			background-size: cover

	.introduction__scroll-down
		position: absolute

		bottom: 5em
		left: 50%
		text-align: center
		transform: rotate(180deg) translate(50%, 0)

		+supersm
			margin-bottom: 2em
		+md
			margin-bottom: 8em
		a
			width: 2em
			height: 2em
			border-radius: 50%
			border: 0.4em solid $shadywhite
			background: $shadywhite
			color: $darkgray
			position: relative
			display: block
			font-size: 2em
			+keyframes(bounce)
				0%, 20%, 50%, 80%, 100%
					transform: translateY(0)
				40%
					transform: translateY(0.8em)
				60%
					transform: translateY(0.3em)
			// transition: bounce 2s infinite
			animation: bounce 2s infinite
