.split-header
	position: relative
	text-align: center
	display: block
	z-index: 20
	+supersm
		height: 15em
	+md
		height: 20em
	h1
		font-family: 'Lora', serif
		text-transform: uppercase
		margin-left: auto
		margin-right: auto
		display: block
		position: absolute
		font-weight: 300
		color: $darkgray
		line-height: 2em
		+center
		+md
			font-size: 36px
		+lg
			font-size: 36px
