#springly-list
	overflow: auto
	position: relative
	margin: 2em 3*$side-menu-w
	text-align: center
	.springly-list__block
		margin-bottom: 1em
		margin-top: 1em
		h1
			+md
				+center-horizontal
				font-size: 1.6em
			text-transform: uppercase
			position: relative
			display: block
			color: $darkgray
			font-size: 1.3em
			text-align: center
			font-weight: 400
			padding: 1em 2em
			&:before, &:after
				display: block
				position: absolute
				content: ''
				width: 3em
				height: 80%
			&:after
				left: 0
				bottom: -0.5em
				border-bottom: 0.1em solid $darkgray
				border-left: 0.1em solid $darkgray
			&:before
				right: 0
				top: -0.5em
				border-top: 0.1em solid $darkgray
				border-right: 0.1em solid $darkgray
		p
			padding-top: 2em
			z-index: 999
			margin: 1em 0
			padding: 1em
			border-radius: 5px
			font-size: 1.2em
			color: $gray
			line-height: 1.4em
			font-weight: 300
			text-align: left
			+md
				font-size: 1.6em
