=col1
	width: 8.33333333%

=col2
	width: 16.66666667%

=col3
	width: 25%

=col4
	width: 33.33333333%

=col5
	width: 41.66666667%

=col6
	width: 50%

=col7
	width: 58.33333333%

=col8
	width: 66.66666667%

=col9
	width: 75%

=col10
	width: 83.33333333%

=col11
	width: 91.66666667%

=col12
	width: 100%

=supersm
	@media (min-width: $screen-supersm-min)
		@content

=sm
	@media (min-width: $screen-sm-min)
		@content

=md
	@media (min-width: $screen-md-min)
		@content

=lg
	@media (min-width: $screen-lg-min)
		@content

.row
	display: -webkit-box
	display: -webkit-flex
	display: -ms-flexbox
	display: flex
	-webkit-flex-wrap: wrap
	-ms-flex-wrap: wrap
	flex-wrap: wrap
	margin-left: -15px
	margin-right: -15px

.container
	padding-left: 15px
	padding-right: 15px
	margin-left: auto
	margin-right: auto
